/* 
CSS reset alkaa.
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
CSS reset loppuu.
*/
body {
    background-color: white;
    line-height: 1.2em;
    color: black;
}
#wrapper {
    margin: auto;
    width: 700px;
}
header {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.profilepicture {
    background-color: white;
    border: 1px solid white;
    border-radius: 50% 50% 50% 50%;
    padding: 4px; 
}
footer {
    margin: auto;
    width: 700px;
    line-height: 0.8em;
    color: black;
}
ul {
list-style-type: none;
padding-left: 0;
}
.post img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 15px;
    border-color: white;
}
.post-content {
    margin-bottom: 40px;
    border-style: solid;
    border-width: 15px;
    background-color: white;
    border-color: white;
}
.post-meta {
    padding-top: 15px;
    margin-bottom: 15px;
}
.post-nowplaying {
    float: left;
    width: 500px;
}
.post-permalink {
    float: right;
    width: 150px;
    text-align: right;
}