body {
    background-color: white;
    line-height: 1.2em;
    color: black;
}
a   {
    text-decoration: none;
    color: #bcbdbd;
}
#wrapper {
    margin: auto;
    width: 700px;
}
header {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#profilepicture {
    background-color: white;
    border: 1px solid white;
    border-radius: 50% 50% 50% 50%;
    padding: 4px;
}
footer {
    margin: auto;
    width: 700px;
    line-height: 0.8em;
    color: black;
}
ul {
list-style-type: none;
padding-left: 0;
}
.post img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 15px;
    border-color: white;
}
.post-permalink {
    float: left;
    width: 150px;
    text-align: left;
}
.post-content {
    margin-bottom: 40px;
    border-style: solid;
    border-width: 15px;
    background-color: white;
    border-color: white;
}